.head {
    background-color: orange;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    height: 700px;
  }
.head h1 {
    font-weight: 900;
    line-height: 1.2;
    font-size: 4rem;
    line-height: 0.2;
  }
  
  .head h2 {
    font-size: 3rem;
    font-weight: 800;
    line-height: 3;
  }
  
  .head a {
    color: white;
    text-decoration: none;
    background-color: #ee0979;
    border-radius: 30px;
    text-transform: uppercase;
    padding: 1.5rem 3rem;
    font-size: 0.9rem;
    font-weight: 700;
    letter-spacing: 0.1rem;
  }