footer p {
  width: 100%;
  height: 100px;
  background-color: #333;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Catamaran", sans-serif;
}

.topnav {
  position: fixed;
  width: 100%;
  background-color: rgba(18, 15, 15, 0.742);
  text-align: center;
}

.topnav ul {
  display: flex;
  list-style: none;
  flex-direction: row;
  justify-content: space-between;
  margin-left: 10%;
  margin-right: 10%;
}

.topnav ul li {
  color: white;
  padding: 15px;
}

.topnav ul li a {
  margin: 10px;
  color: rgba(255, 255, 255, 0.55);
  text-decoration: none;
}

.topnav ul li a:hover {
  color: white;
}

.topnav .icon {
  display: none;
}

.topnav .icon:hover {
  border: 3px solid;
}

.head {
  background-color: orange;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  height: 700px;
}

.head h1 {
  font-weight: 900;
  line-height: 1.2;
  font-size: 4rem;
  line-height: 0.2;
}

.head h2 {
  font-size: 3rem;
  font-weight: 800;
  line-height: 3;
}

.head a {
  color: white;
  text-decoration: none;
  background-color: #ee0979;
  border-radius: 30px;
  text-transform: uppercase;
  padding: 1.5rem 3rem;
  font-size: 0.9rem;
  font-weight: 700;
  letter-spacing: 0.1rem;
}

.head {
  background-color: orange;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  height: 700px;
}

.head h1 {
  font-weight: 900;
  line-height: 1.2;
  font-size: 4rem;
  line-height: 0.2;
}

.head h2 {
  font-size: 3rem;
  font-weight: 800;
  line-height: 3;
}

.head a {
  color: white;
  text-decoration: none;
  background-color: #ee0979;
  border-radius: 30px;
  text-transform: uppercase;
  padding: 1.5rem 3rem;
  font-size: 0.9rem;
  font-weight: 700;
  letter-spacing: 0.1rem;
}

section {
  margin-top: 30px;
}

section#cart1 {
  display: flex;
  flex-direction: row-reverse;
}

section#cart2 {
  display: flex;
  flex-direction: row;
}

section#cart3 {
  display: flex;
  flex-direction: row-reverse;
}

.hisse {
  display: flex;
}

.font1 {
  margin: 15% 20%;
  display: flex;
  flex-direction: column;
}

.hisse h2 {
  font-size: calc(1.475rem + 2.7vw);
  font-weight: 300;
  line-height: 1.2;
}

.hisse p {
  font-size: 1rem;
  font-weight: 400;
  color: #212529;
}

.foto {
  width: 80%;
}

.foto img, .foto-left img {
  border-radius: 50%;
  max-width: 70%;
  height: auto;
  /* margin-top: 8%; */
}

.foto-left {
  width: 80%;
  display: flex;
  justify-content: center;
}

@media screen and (max-width: 600px) {
  .topnav a {
    display: none;
  }
  .topnav a.icon {
    display: flex;
    border: 1px solid rgba(255, 255, 255, 0.55);
    border-radius: 10px;
    padding: 10px 20px;
    color: rgba(255, 255, 255, 0.55);
  }
  .head h1 {
    font-size: 3rem;
  }
  .head h2 {
    font-size: 2rem;
  }
  section#cart1 {
    display: flex;
    flex-direction: column;
  }
  section#cart2 {
    display: flex;
    flex-direction: column;
  }
  section#cart3 {
    display: flex;
    flex-direction: column;
  }
  .foto {
    width: 100%;
    display: flex;
    justify-content: center;
  }
}/*# sourceMappingURL=style.css.map */